#container {
  padding-left: 250px;
}

#content {
  padding: 20px;
}

#menu ul a,.card-action a {
	text-decoration: none;
}

/*pagination*/
.col .s12 ul li a{
	text-decoration: none;
	border: none;
}
/*end pagination*/

/*navbar hover*/
nav .nav-wrapper ul li:hover a {
	color: rgba(0, 188, 212, 0.85);
}

nav .nav-wrapper ul li:hover {
	background-color: rgba(255,255,255,1);
}

nav .nav-wrapper ul li a {
	text-decoration: none;
}
/*end navbar*/

/*style sidebar admin*/
.waves-effect.waves-cyan .waves-ripple {
	background-color: rgba(0, 188, 212, 0.85);
}

/*style action button mahasiswa detail*/
.card .fixed-action-btn{
	position: relative;
	bottom: auto;
	margin-bottom: auto;
	padding: none;
	right: auto;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.panel-body table tr td a {
	text-decoration: none;
}

/*daftar mahasiswa (mahasiswa index)*/

.card-content .row .col .input-field {
	margin-top: 0;
}

/*link table header style*/
table thead tr th a {
	color: white;
}

table thead tr th a:hover {
	color: white;
	text-decoration: none;
	
}
/*end table mahasiswa index*/

/*style font title Akademik*/
#container .nav-wrapper a:hover {
	text-decoration: none;
}
/*end font title mahasiswa*/

/*select icon */
.caret {
	border-top: none;
}
/**/

/*responsive*/
@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }
}

/*Label Logo*/
@media only screen and (min-width: 992px){
	nav .nav-wrapper .brand-logo{
  		margin-left: 20px;
	}
}