#container {
  padding-left: 300px;
}

#content {
  padding: 20px;
}

#menu ul a {
	text-decoration: none;
}

.waves-effect.waves-cyan .waves-ripple {
	background-color: rgba(0, 188, 212, 0.85);
}

@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }
}