.ui.cards>.card:hover {
	background-color: #efefef;
}

.ui.cards > .create-action.card:hover {
	background-color: #fff;
}

.ui.cards > .card > .content > .header, .meta, .description {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ui.footer.segment {
	margin: 5em 0em 0em;
	padding: 5em 0em;
}

.main.container {
    margin-top: 7em;
}
